.headerlogos {
	height: 30px;
	margin-left: 10px;
	border-left: 2px solid #3D58A6;
	padding-left: 10px;
	animation: scaledown .4s linear;
	animation-fill-mode: forwards;
}
.headerlogos:hover {
	z-index: 100;
	animation: scale 1s ease;
	animation-fill-mode: forwards;
}
@keyframes scaledown{
	0%{
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100%{
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}
@keyframes scale{
	0%{
		-webkit-transform: scale(1)
		transform: scale(1);
	}

}
.headersociallogos {
	float: right;
	width: 250px;
	margin-top: 3%;
	height: 50px;
}
.htmllogo {
	height: 60px;
	float: left;
	margin: 2% 0 0 3%;
}
.li {
	font-size:  24px;
	color: #3D58A6;
	display: inline-block;
	margin-left: 4%;
	text-decoration: none;
	color: black;
}
.ul {
	height: 20px;
	width: 500px;
	display: inline-block;
	margin-left: 10%;
	margin-top: 3%
}
header {
	height: 100px;
	position: sticky;
	top: 0%;
	background-color: white;
}
.googlelogo {
	height: 30px;
	margin-left: 10px;
	padding-left: 10px;
	animation: scaledown .4s linear;
	animation-fill-mode: forwards;}
.googlelogo:hover {
	z-index: 100;
	animation: scale 1s ease;
	animation-fill-mode: forwards;
}
@keyframes scaledown{
	0%{
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100%{
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}
@keyframes scale{
	0%{
		-webkit-transform: scale(1)
		transform: scale(1);
	}

}
}
.searchlogo {
	height: 30px;
	margin-left: 10px;
	border-left: 2px solid #3D58A6;
	padding-left: 10px;
}
.searchlogo:hover {
	height: 40px;
}
.liTAGa {
	text-decoration: none;
	font-size: 24px;
	color: black;
}
.liTAGa:hover {
	color: gray;
}
.firstmaindiv {
	background-color: #E6E6E6;
	padding: 1% 3% 1% 3%;
}
.computerlogo {
	width: 1170px;
	display: flex;
	justify-content: center;
}
.seconddiv {
	background-color: #363E97;
	height: 500px;
	padding: 2%;
}
.secondminidiv {
	display: inline-flex;
	background-color: white;
	width: 570px;
	height: 320px;
	margin: 6% 0% 0% 1.5%;
	justify-content: center;
}
.secondmaindivp {
	margin-top: 25%;
}
.seconddivp {
	color: white;
	font-size: 24px;
	background-color: pink;
	width: 252px;
	margin: 2% 0 0.2% 2%;
	clear: none;
}
.thirddiv {
	height: 450px;
	background-color: #BDCCD4;
	padding: 4%;	
}
.thirdminidiv {
	width: 270px;
	height: 270px;
	background-color: #E6E6E6;
	margin: 6% 1% 0 0;
	display: inline-block;

	
}
.thirdminidivimg {
	width: 270px;
	height: 210px;
	display: inline-block;
	justify-content: center;
}
.thirdminidivp {
	text-align: center;
}
.thirdivp {
	color: white; 
	font-size: 24px;
	margin-left: 1%;
    background-color: pink;
    width: 220px;
}
.forthdiv {
	background-color: #E6E6E6;
	height: 400px;
	width: 100%;
	padding: 0%;
}
.forthdivp {
	color: white;
	font-size: 24px;
	background-color: pink;
	display: inline-block;
	margin-left: 1%;
}
.forthminidiv {
	height: 225px;
	width: 517px;
	background-color: #F2F2F2;
	margin: 5% 0 0 6%;
	align-items: 
}
.forthminidivlogo {
    width: 100.873px;
    height: 130.500px;
}
.forthfirstdiv {
	display: flex;
	margin-left: 7%;
}
.forthminidivh3 {
	margin-left: 2%;
}
.forthminidivp {
	display: inline-block;
	width: 300px;
	float: right;
}
.footerbox {
	height: 60px;
}
.footerboxp1 {
	float: left;
}
.footerboxp2 {
	float: right;
}
.button1 {
  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.thirddivnews {
	height: 900px;
	background-color: #BDCCD4;
	padding: 4%;
	justify-content: center;
}
.loadmorebutton {
	background-color: #83939B;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin: 5% 5% 5% 40%;
}
.forminibox {
	width: 113px;
	height: 22px;
}
.afterheaderdiv {
	height: 80px;
	background-color: #BDCCD4;
}
.afterheaderdiv2 {
	height: 80px;
	background-color: #EE4036;
}
.afterheaderdiva {
	float: right;
	display: inline-block;
	margin: 30px 30px 0 0;
}
.afterheaderdivp {
	float: left;
	color: #363E97;
	display: inline-block;
    margin: 30px 0 0 30px;
}
.afterheaderdivspan {
	color: white;
}
.aboutdiv {
	width: 60px;
	height: 60px;
	border: 2px solid #BDCCD4;
	display: inline-block;
	text-align: center;
}
.aboutdivp {
	font-size: 40px;
	margin: 0 0 0 0;
	color: #363E97;
}
.aboutdivp2 {
	font-size: 14px;
	margin: 0 0 0 0;
	color: #363E97;
}
.p {
	background-color: pink;
	font-size: 26px;
	color: #363E97;
	width: 265px;
}
.aboutmaindiv {
	padding: 4%;
}
.typologo {
	width: 370px;
	height: 287.778px;
	float: left;
	padding: 2%;
}
.aboutmaindivp {
	font-size: 20px;

}
.aboutdiv4 {
	height: 90px;
	background-color:  #BDCCD4;
}
.socialmediatype2 {
	width: 200px;
	float: right;
	margin: 3%;
}
.abouta {
	float: left;
	margin: 3%;
}
.darts {
	width: 200px;
	height: 200px;
	margin: 5% 5% 5% 15%;
}
.aboutcomputer {
	width: 300px;
}
.rocket {
	width: 194px;
	height: 194.009px;
	margin: 5% 5% 5% 15%;
}
.about1div {
	display: flex;

}
.rocketdiv {
	width: 250px;
	height: 250px;
	border: 2px solid red;
	padding: 10%;
}
.aboutcomputermain {
	width: 300px;
	height: 300px;
	border: 2px solid red;
	padding: 10%;
}
.about1minidiv {
	margin: 5%;
	
	
}
.about2minidiv {
	margin: 5%;


}
.about3minidiv {
	margin: 5%;
}
.abouth2 {
	color: red;
	background-color: pink;
	display: inline-block;
}
.abouthp {
	color: #58595B;
	background-color: pink;
	width: 166px;
}
.about1div {
	border-bottom: 2px solid red;
}
.man {
	height: 170px;
	margin-left: 9%;
}
.abouth3 {
	color: red;
	background-color: pink;
	font-size: 22px;
    width: 68px;
    margin-left: 9%;
    
}
.afterabout {
    padding: 3%;
}
.map {
	background-color: #E6E6E6;
	display: flex;
	justify-content: center;
}
.mapframe {
	width: 1170px;
	height: 460px;

}
.bluezonemain {
	padding: 0 4% 0 4%;
}
.bluezone {
	background-color: #363E97;
	padding: 4%;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  background-color: #363E97;
  padding: 20px;
  width: 600px;
  margin: 5% 3% 0% 27%;
}
.bluezonep {
	color: white; 
	width: 160px;
	display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.contactinfo {
	float: left;
}
.thirdmainflex {
	display: flex;
	justify-content: center;
}
